@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #00629B;
  --secondary: #023D54;
  --tertiary: #E18B22;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .grid-cols-3-auto {
    grid-template-columns: repeat(3, auto);
  }

  .btn-secondary {
    @apply text-background bg-primary px-8 py-3 border text-center font-bold rounded-md transition-all duration-300 hover:bg-secondary hover:text-background;
  }

  .btn-tertiary {
    @apply text-tertiary px-8 py-3 border text-center border-tertiary font-bold rounded-md transition-all duration-300 hover:bg-tertiary hover:text-background;
  }
}
