* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: #000;
  }
}

